:root {
    /* colors */
    --white: #F5F5F5;
    --black: #121212;
    --theme: #00649E;
    --background: #ebebeb;
}

main {
    min-width: 1000px;
    max-width: 1700px;
    width: 80%;
    display: grid;
    grid-template-columns: 3fr 4fr 100px;
    grid-template-rows: 100vh;
    gap: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    display: flex;
    flex-direction: column;

    font-size: 1.2rem;
    font-weight: 600;
}

form input {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: var(--background);
}

section.info {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 100%;
    min-width: 200px;
}

.card {
    background-color: white;
    border-radius: 15px;
    min-height: fit-content;
    padding: 25px 20px;

    display: flex;
    flex-direction: column;
}

.clear-load {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.personal-details {
}



.education {
}

.experience {
}

.cv-result {
    display: grid;
    grid-template-columns: 10fr 8fr;
}